html, body {
  background-color: #057dcd;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 640px;
  min-width: 200px;
  margin: 80px auto;
  text-align: center;
}

.avatar-cropper {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow:hidden;
  display: inline-block;
  border: 3px solid #1e3d58;
}

.avatar {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

h1 {
  font-family: "SB Heading", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #fff;
  margin: 40px 0 20px 0;
}

h2, h3 {
  font-family: "SB Body", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #fff;
  font-size: 1.25rem;
  margin: 0;
}

h2.narrow-text {
  margin: 10px 0 40px 0;
}

.narrow-text {
  font-weight: 300;
}

.divider-custom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom-line {
  background-color: #fff;
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  border-radius: 1rem;
  border-color: #1e3d58;
}

.divider-custom-line:first-child {
  margin-right: 1rem;
}

.divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom-icon {
  color: #fff;
  font-size: 2rem;
}

.link-box {
  position: relative;
  width: 100%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  height: 60px;
  box-shadow: 2px 2px 4px #1e3d58;
}

.link-box:hover {
  box-shadow: 1px 1px 2px;
}

.link-box:hover i, .link-box:hover h3{
  color: #057dcd;
}

.link-box a {
  width: auto;
  display: block;
}

.icon-wrapper {
  position: absolute;
  left: 0;
  margin-left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.link-box i {
  font-size: 1.5rem;
  color: #1e3d58;
}

.link-box h3 {
  display: inline-block;
  color: #1e3d58;
  line-height: 60px;
}

h3.narrow-text {
  margin-top: 40px;
}